@use '../base/common.scss';

.Header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    .links {
        display: flex;
        gap: 12px;
    }

    .links a {
        line-height: 0;
        border-radius: 4px;
        color: inherit;
        padding: 4px;

        &:hover {
            box-shadow: 0 0 0 2px common.$color-primary;
        }
    }
}
